@font-face {
    font-family: 'Lobster';
    src: url('../content/Lobster-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    src: url('../content/Roboto-Regular.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
  }

  .screen{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  .homecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nerdycat{
    width: 150px;
    height: 250px;
  }
  .hometitle{
    font-family: 'Lobster';
    color: #4757EC;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 96px;
    text-align: center;
    margin: 10px;
  }
  .homesubtitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;

  }
  .optionbtn{
    background: #4757EC;
    border-radius: 45px;
    border: 1px transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    margin: 10px;
    font-family: 'Roboto';
    color: white; 
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    width: 200px;

  }
  .btnscontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;

  }